
.page-2{
    height: 1450px;
    width: 100%;

    display: flex;
    justify-content: center;

    background-color: rgb(19, 19, 31);
}

.page-2 section{
    height: 90%;
    width: 100%;
    padding-top: 300px;

    display: grid;
    grid-template-columns: 800px 800px;

    justify-content: center;
}

.page-2-image-container{
    display: flex;
    justify-content: center;
    margin-left: -390px;
}

.page-2-image{
    background: url("me/me1.jpg");

    width: 750px;
    height: 800px;

    background-repeat:no-repeat;
    background-size: cover;

    background-position-y: -200px;
}

.page-2-list{
    list-style: none;
}

.page-2-list h1{
    color: white;
    text-transform: capitalize;

    font-size: 75px;
}

.page-2-list h1 span{
    color: var(--second-color);
    padding-left: 10px;
}

.page-2-list h2{
    color:var(--h2-color);
    text-transform: capitalize;
    font-weight: 500;

    font-size: 25px;

    padding-bottom: 35px;

    margin-top: -25px;
}

.page-2-list p{
    color:var(--p-color);

    font-size:var(--default-p-text-size);
    line-height:var(--p-line-height);
    font-weight: 300;

    padding-bottom: 60px;
}

.personal-info-li{
    padding-bottom: 60px;
}

.personal-info-li section{
    padding: 0px;
    display: grid;
    grid-template-columns: 300px 360px;

    color: white;

    justify-content: left;
}

.personal-info-li section div{
    text-transform: capitalize;
}


.personal-info-li-title{
}

.personal-info-li-title h3{
    font-weight: 800;
    font-size: var(--default-p-text-size);
    color: white;
}

.personal-info-li-response{
}

.personal-info-li-response h3{
    font-weight: 300;
    font-size: var(--default-p-text-size);
    color:rgba(255, 255, 255, .8);
}

#-mail{
    text-transform: lowercase;
}

#-mail h3 span{
    color: var(--second-color);
    font-weight: 800;
}

#-phoneNr h3{
    color: var(--second-color);
    font-weight: 900;
}

.page-2-list a, .more-about-phone-only{
    text-decoration: none;

    color: white;
    font-size: var(--default-p-text-size);
    text-transform: capitalize;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0);

    text-align: center;

    background-color: var(--second-color);
    
    border-radius: 10px;

    width: fit-content;

    transition: var(--default-transirion-duration);

    padding: 15px 40px;
    font-weight: 500;

    cursor: pointer;
}

.more-about-phone-only{
    position: fixed;
    opacity: 0;
}

.page-2-list a:hover{
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
}

.personal-info-li-response a{
    color:rgba(255, 255, 255, .8);
    text-decoration: none;
    text-transform: capitalize;

    background: transparent;

    padding: 0px;

    font-size: 20px;
    font-weight: 300;
}

#-phoneNr a {
    color: var(--second-color);
    font-weight: 900;
}

#-phoneNr span{
    color: rgba(255, 255, 255, .8);
    font-weight: 300;
}

@media (max-width: 2200px){
    
}

@media (max-width: 1480px){

    .page-2{
        height: 2850px;

    }

    .page-2 section{
        height: 90%;
        width: 90%;
        padding-top: 100px;
    
        display: flex;    
        flex-direction: column-reverse;
    }

    .personal-info-li section{
        padding: 0px;
        display: grid;
        grid-template-columns: 300px 600px;
    
        color: white;
    
        justify-content: left;
    }

    .page-2-list h1{    
        font-size: var(--phone-h1-size);
    }
    
    .page-2-list h2{    
        font-size: var(--phone-h2-size);
        padding-bottom: 35px;
        margin-top: -55px;
    }

    .page-2-list p{    
        font-size:var(--phone-p-text-size);
        line-height:var(--phone-p-line-height);
        font-weight: 300;
    
        padding-bottom: 60px;
    }

    .personal-info-li-title h3{
        font-size: var(--phone-p-text-size);
    }
    
    .personal-info-li-response h3{
        font-size: var(--phone-p-text-size);
    }

    .page-2-list a{
        font-size: var(--phone-p-text-size);
        border-radius: 10px;
        padding: 15px 40px;

        position: fixed;
        opacity: 0;
    }

    .page-2-image-container{
        margin: 0px auto;
        margin-top: 10px;
    }
    
    .page-2-image{    
        width: 870px;
        height: 920px;
    
        background-repeat:no-repeat;
        background-size: cover;
    
        background-position-y: -200px;
    }

    .more-about-phone-only{
        font-size: var(--phone-p-text-size);
        border-radius: 10px;
        padding: 15px 40px;

        margin-top: 50px;

        position: relative;
        opacity: 1;
    }
}

@media (max-width: 1100px){
	
}

@media (max-width: 920px){
	
}

@media (max-width: 840px){
	
}