
.page-5{
    height: 1250px;
    width: 100%;

    background-color: rgb(33, 34, 54);
}

.page-5 section{
    display: flex;
    justify-content: center;
}

.page-5-title{
    color: white;
    text-transform: capitalize;
    text-align: center;

    padding-top: 300px;
}

.page-5-title h2{
    font-size: 25px;
    color:var(--h2-color);
    font-weight: 500;
}

.page-5-title h1{
    font-size: 75px;
    margin-top: -25px;
}

.page-5-title span{
    color: var(--second-color);
}

.contact-me-list{
    display: flex;
    list-style: none;

    width: 80%;
    height: 1000px;

    margin-top: 300px;

    justify-content: center;
}

.contact-me-list li{
    width: 900px;
}

.contact-me-text{
}

.contact-me-text ul{
    list-style: none;
}

.contact-me-text ul li{
    padding-bottom: 35px;
}

.icon-list{
    display: flex; 
    justify-content: left; 
    align-items: left;
}

.icon-list i{
    color: white;
    background:var(--second-color);
    border-radius: 15px;
    width: 110px;
    height: 110px;

    display: inline-flex;

    justify-content: center;
    align-items: center;


    margin-right: 20px;
    
    font-size: 55px;

    cursor: pointer;

    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0);
    transition: var(--default-transirion-duration);
}

.icon-list i:hover{
    text-shadow: 0px 0px 15px rgba(255, 255, 255, .8);

    transform: scale(1.05);
}


.contact-me-text ul li:nth-child(1) h1{
    color: white;
    text-transform: capitalize;

    font-size: 75px;
}

span{
    color: var(--second-color);
    font-weight: 800;
}

.contact-me-text ul li:nth-child(2){
    margin-top: -35px;
}

.contact-me-text ul li:nth-child(2) h1{
    color: white;
    text-transform: capitalize;

    font-size: 30px;

    font-weight: 500;
}

.contact-me-text ul li:nth-child(3) p{
    color: var(--p-color);
    text-transform: capitalize;

    font-size: var(--default-p-text-size);

    font-weight: 300;

    line-height: var(--p-line-height);
}

.contact-me-text ul li:nth-child(4) p{
    color: var(--p-color);
    text-transform: capitalize;

    font-size: var(--default-p-text-size);

    font-weight: 300;
}

.contact-me-input-fields form{
    display: grid;
    grid-template-columns: 800px;
    grid-template-rows: repeat(5 ,auto);
    gap: 10px;
    align-items:baseline;
}

.contact-me-input-fields form input ,textarea{
    width: 100%;

    color: white;

    padding: 25px;
    border-radius: 15px;

    font-size: var(--default-p-text-size);

    font-weight: 300;

    background-color: rgb(19, 19, 31);
}

.contact-me-input-fields form textarea{
    resize: none;
}

.contact-me-input-fields form :nth-child(5){
    text-decoration: none;

    color: white;
    font-size: var(--default-p-text-size);
    text-transform: capitalize;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0);

    text-align: center;

    background-color: var(--second-color);
    
    border-radius: 10px;

    width: fit-content;

    transition: var(--default-transirion-duration);

    padding: 15px 40px;
    font-weight: 500;

    cursor: pointer;
}

.contact-me-input-fields form :nth-child(5):hover{
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
}

@media (max-width: 2200px){

}

@media (max-width: 1480px){

    .page-5{
        height: 2050px;
        width: 100%;
    
        background-color: rgb(33, 34, 54);

        padding-top: 340px;
    }

    .contact-me-list{
        display: flex;
        flex-direction: column;
    
        width: 90%;
        
    }

    .contact-me-list li{
        width: 100%;
    }

    .contact-me-text ul li:nth-child(1) h1{
        font-size: 130px;
        text-align: center;
    }

    .contact-me-text ul li:nth-child(2) {
        margin-top: -80px;
    }

    .contact-me-text ul li:nth-child(2) h1{
        font-size: 40px;
        text-align: center;
    }

     .contact-me-text ul li:nth-child(3) p{
        font-size: var(--phone-p-text-size);
        line-height: var(--phone-p-line-height);
    }

    .icon-list{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .icon-list i{
        font-size: 90px;
        width: 150px;
        height: 150px;
    }

    .contact-me-input-fields{
        width: 100%;
    }

    .contact-me-input-fields form{
        width: 100%;
    }

    .contact-me-input-fields form input ,textarea{
        color: white;
    
        padding: 25px;
        border-radius: 15px;
    
        font-size: var(--phone-p-text-size);
    }

    .contact-me-input-fields form :nth-child(5){
        font-size: var(--phone-a-text-size);
                        
        text-align: center;
    }
    
}

@media (max-width: 1100px){
	
}

@media (max-width: 920px){
	
}

@media (max-width: 840px){
	
}
