
.page-1{
    height: 1350px;
    width: 100%;

    xbackground-image: url(../projects/fnaf/d1.png);

    background-position-y: center;

    background-size:cover;
}

.page-1 section{

    width: 100%;
    height: 100%;

}

.page-1-bg{
    background: rgba(33, 34, 54, .4);
    background: linear-gradient(45rad,rgba(17, 17, 29, var(--page-1-bg-transparency)), rgba(40, 50, 100, var(--page-1-bg-transparency)),rgba(17, 17, 29, var(--page-1-bg-transparency)));

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;

    perspective: 10px;
    transform-style: preserve-3d;
}

.page-1-intro-list{
    list-style: none;

    color: white;

    position: absolute;

    top: 35%;

    padding-left: 350px;

    width: 700px;
    transform: translateZ(-100px);
    transform: scale(1);
}

.page-1-intro-list li{
    display: flex;
}

.page-1-intro-list h3{
    font-weight: 500;
    text-transform: capitalize;

    font-size: 30px;
}

.page-1-intro-list h3:nth-child(1){
    background-color: var(--second-color);

    border-radius: 10px;

    padding: 0px 30px;
}

.page-1-intro-list h3:nth-child(2){
    padding-left: 25px;

    background-color: transparent;

    color:var(--h2-color);

    font-weight: 300;
}

.page-1-intro-list h1{
    font-size: 95px;
}

.page-1-intro-list h2{
    font-size: 75px;
    font-weight: 500;

    margin-top: -25px;
}

.page-1-intro-list h2 span{
    color: var(--second-color);
}

.page-1-intro-list p{
    padding-top: 25px;
    line-height:var(--p-line-height);

    font-size: var(--default-p-text-size);
    font-weight: 300;

    color:var(--p-color);
}

.page-1-intro-bottom-row{
    margin-top: 30px;
}

.page-1-intro-say-hello-btn{
    text-decoration: none;

    color: white;
    font-size: var(--default-p-text-size);
    text-transform: capitalize;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0);

    text-align: center;

    background-color: var(--second-color);
    
    border-radius: 10px;

    width: fit-content;

    transition: var(--default-transirion-duration);

    padding: 15px 40px;
    font-weight: 500;

    cursor: pointer;
}

.page-1-intro-say-hello-btn:hover{
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
}

.page-1-intro-bottom-row a{
    text-decoration: none;
}

.page-1-intro-bottom-row span{

    margin-left: 30px;

    cursor: pointer;
}

.page-1-intro-bottom-row span i{
    height: 55px;
    width: 55px;

    font-size: 20px;

    background: var(--second-color);
    color: white;

    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 50%;

    padding: 5px;

}

.page-1-intro-bottom-row p{
    padding-top:18px;

    color: white;
    text-transform: capitalize;

    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
    
    cursor: pointer;
}

@media (max-width: 2200px){
    
}

@media (max-width: 1480px){
	.page-1-intro-list{
        top: 20%;
        padding-left: 30px;
        width: 900px;
    }

    
    .page-1-intro-list h3{
        font-size: 60px;
    }

    .page-1-intro-list h1{
        font-size: 145px;
    }
    
    .page-1-intro-list h2{
        font-size: 85px;
    
        margin-top: -65px;
    }
    
    .page-1-intro-list p{
        padding-top: 25px;
        line-height:var(--phone-p-line-height);
    
        font-size: var(--phone-p-text-size);
        font-weight: 300;
    
        color:var(--p-color);
    }

    .page-1-intro-say-hello-btn{

        font-size: var(--phone-p-text-size);
        border-radius: 10px;
        padding: 15px 40px;
    }

    .page-1-intro-bottom-row span i{
        height: 85px;
        width: 85px;
    
        font-size: 40px;

        border-radius: 50%;
    
        padding: 5px;
    
    }
    
    .page-1-intro-bottom-row p{
    
        font-size: 40px;
        padding-left: 10px;

        color: white;
        font-weight: 500;
    }
}

@media (max-width: 1100px){
	
}

@media (max-width: 920px){
	
}

@media (max-width: 840px){
	
}